<%= simple_form_for([@bike, @comment]) do |f| %>
  <div class="editable-star-rating"></div>
  <%= f.input :content, label: "Reply to thread" %>
  <%= f.button :submit, class: "button" %>
<% end %>



