<%= simple_form_for([@bike, @reservation]) do |f| %>
  <%= f.input :start_date, label: "Start date"  %>
  <%= f.input :end_date, label: "End date"  %>
  <%= f.button :submit, class: "button" %>
<% end %>


<div class="control-group">
        <label for="date-picker-2" class="control-label"></label>
        <div class="controls">
            <div class="input-group">
                <input id="date-picker-2" type="text" class="date-picker form-control" />
                <label for="date-picker-2" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>

                </label>
            </div>
        </div>
    </div>