/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/transitions'
 */
 
	@import "bootstrap-sprockets";
	@import "bootstrap";

body {
    background: #EEE;
        header {
            text-align: center;
            margin: 1rem 7rem;
            border-radius: 6rem;
            background: #337AB7;
            color: #F4F4F4;
            font-family: "Montserrat-Bold", arial, sans-serif;
            letter-spacing: .3rem;
            height: 11rem;
            h2 {
              font-size: 50px;
              letter-spacing: 1rem;
              text-transform: uppercase;
              line-height: 0rem;
              padding-top: 3rem;
            }
            .navbar-nav {
              margin-left: 2rem;
            }
              .navbar-nav > li > a {
              padding-top: 9px;
              padding-bottom: 9px;
              line-height: -5rem;
              margin-bottom: 2rem;
              border-radius: 9rem;
              color: #F4F4F4;
              width: 21rem;

                &:hover {
                  background: #F4F4F4;
                  color: #337AB7;
                }
              }
            .container {
            margin: 2rem;
                .login {
                    padding-right: 1.9rem;
                }
                p {
                    margin: 0 0 10px;
                    float: right;
                    padding-right: 1rem;
                }
                .navbar {
                background: #FFF;
                border: none;
            }
        }
    }
}




/* Datepicker */
.date-form { margin: 10px; }
label.control-label span { cursor: pointer; }

/* Calendar */

.selectable.selected {background:#f90;}

#availability .calendar {
  border-collapse: collapse;
  width: 100%;
  td, th {
    font-size: 1.2rem;
    padding: 6px;
    border: 1px solid #FFF;

  }

  th {
    background: #DDD;
    color: #939393;
    border-color: #EEE;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #F7F7F7;
    color: #777;
    height: 5rem;
    vertical-align: top;
    font-size: 1.2rem;
    border-color: #EEE;
        &:hover {
        background: #FF9898;
        }
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#availability #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}
#availability ul {
  font-size: 1rem;
  padding-left: 20px;
}
#month {
    font-size: 2rem;
    color: #939393;
    text-align: center;
        a {
            color: #DDD;
            text-decoration: none;
            &:hover {
                color: #EAEAEA;
            }
        }
  }



#bikes {
  margin: 0 auto;
  width: 100%;

  .box {
	  margin: 10px;
      width: 350px;
      text-align: left;
      background: #F9F9F9; 
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
        margin: 0;
        padding: 10px 10px;
        border-bottom: .1rem solid #EEEEEE;
        color: #337AB7;
  	  	a {
      		color: #7A7A7A;
              text-decoration: none;
  	  	}
	  }
	  .user {
	  	font-size: 1.4rem;
        padding: 13px;
        margin: 0;
        display: inline-flex;
        color: #A8A8A8;
        }
        span {
          color: #A8A8A8;
        }
        i {
            font-size: 1.3rem;
        }
        #starz {
          display: inherit;
          margin-left: 3rem;
        }
	}
}

#bike_show .post_data img {
      width: 75%;
      height: 75%;
    }

#availability .calendar .booked {
  background-color: #FF9898;
}

@media screen and (max-width: 1210px) {
    .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: -5rem;
    margin-bottom: 2rem;
    border-radius: 9rem;
    color: #F4F4F4;
    width: 18rem;
    }
}