// Place all the styles related to the bikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@font-face {
  font-family: "FontAwesome";
  src: font-url('fontawesome-webfont.eot');
  src: font-url('fontawesome-webfont.eot?#iefix') format('eot'), 
       font-url('fontawesome-webfont.woff') format('woff'), 
       font-url('fontawesome-webfont.ttf') format('truetype'), 
       font-url('fontawesome-webfont.svg#FontAwesome')    format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {font-family:"Montserrat-Bold";
src: font-url("Montserrat-Bold.eot?") format("eot"),
	 font-url("Montserrat-Bold.woff") format("woff"),
	 font-url("Montserrat-Bold.ttf") format("truetype"),
	 font-url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
	 font-weight:normal;
	 font-style:normal;}



h1, h2, h3, {
	font-family: "Montserrat-Bold", arial, sans-serif !important; 
	
}

#bike_show {
	padding-top: 2rem;
	color: #337AB7;
	.post_image_description {
		width: 50%;
		float: left;
		margin-right: 5%;
	}
	.post_data {
		width: 20%;
		float: left;
		color: #969696;
		.button {
			width: 100%;
			display: inline-block;
			padding: 1.25rem 1rem;
			text-align: left;
			text-decoration: none;
			color: #969696;
			border-top: 1px solid;
			&:last-child {
				border-bottom: 1px solid;
			}
			&:hover {
				color: #969696;
				background: #D8D8D8;
			}
		}
		.star-rating {
			display: inline-flex;
			}
		.data {
			width: 100%;
			display: block;
			padding: .75rem 0;
			border-bottom: 1px solid #E9E9E9;
			text-decoration: none;
			color: #969696;
			margin: 0;
		}
	}
	#random_post {
		width: 25%;
		margin-left: 5%;
		margin-top: -3.2rem;
		float: left;
		h3 {
			font-size: 1rem;
			color: #337AB7;
		}
		.post {
			background: #F8F9FA;
			border: 1px solid #E4E4E4;
			border-radius: 0.3rem;
			.post_image {
				height: 200px;
				overflow: hidden;
				img {
					width: 100%;
					border-radius: .3rem .3rem 0 0;
				}
			}
			.post_content {
				h2 {
					margin: 0;
					font-weight: 100;
					padding: 1rem 5%;
					border-bottom: 1px solid #E4E4E4;
					font-size: 1.25rem;
					color: #337AB7;
					a {
						text-decoration: none;
						color: #333233;
						&:hover {
							color: #50A7C7;
						}
					}
				}
				.data {
					padding: .75rem 5%;
					color: #969696;
					.username, .buttons {
						margin: 0;
						font-size: .8rem;
					}
					.username {
						float: left;
					}
					.buttons {
						float: right;
						span {
							margin-left: .5rem;
						}
					}
				}
			}
		}
	}
	h1 {
		margin: 0;
		color: #337AB7;
	}
	img {
		width: 100%;
		border-radius: .3rem;
	}
	.username {
		color: #969696;
		margin: 0 0 1.5rem 0;
	}
	.description {
		margin: 2rem 0;
		font-size: 1.1rem;
		line-height: 1.5;
		color: #969696;
	}
	p {
		font-size: 1.4rem;
		color: #717171;
		padding-left: 1rem;
		}
}

#comments {
	padding-bottom: 4rem;
	width: 50%;
	.comment_count {
		border-bottom: 1px solid #E9E9E9;
		padding-bottom: .5rem;
		margin-bottom: 0;
	}
	.comment {
		padding: 2rem 0;
		border-bottom: 1px solid #E9E9E9;
		padding-left: 5%;
		.username {
			font-size: 1.3rem;
			color: #333233;
			margin: 0 0 .5rem 0;
		}
		.content {
			margin: 0;
			color: #969696;
		}
	}
	.comment_content {
		margin-top: 2.5rem;
		textarea {
			width: 100%;
			margin: 1rem 0;
			min-height: 150px;
			border: 1px solid #E4E4E4;
			background: #F8F9FA;
			border-radius: 0.3rem;
		}
	}
}

.sidewrapper {
	padding-top: 13.2rem;
		#endbutton {
			margin-top: 3.2rem;
			width: 10.5rem;
		}
}

